<!DOCTYPE html>
<html lang="en-US" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Fitness World | Train &amp; Grow</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'items/1743504.png' %}">
    <link rel="icon" sizes="32x32" href="{% static 'items/1743504.png' %}">
    <link rel="icon" sizes="16x16" href="{% static 'items/1743504.png' %}">
    <link rel="shortcut icon" href="{% static 'items/1743504.png' %}">
    <link rel="manifest" href="media/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="{% static 'items/1743504.png' %}>
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'items/theme.css'%}" rel="stylesheet" />

    <script type="text/javascript" >
      var user='{{request.user}}'
      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>

  </head>


  <body>
    <div class="container">

      <nav style="margin: -28px" class="navbar hello navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <img style="width: 25px;position: relative;left: 190px;top: 32px;" src="{% static 'items/1743504.png' %}" alt="">
          <div class="container"><a class="navbar-brand d-inline-flex" href="{% url 'items:home' %}"><span class="text-light fs-2 fw-bold ms-2">Fitness World</span></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="{% url 'items:products' %}">STORE</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="{% url 'items:workoutplans' %}">WORKOUT PLANS</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="#header">ABOUT US</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="#contact">CONTACT US</a></li>
                
              </ul>
              
              <form class="d-flex"><a class="text-primary" href="#!">
                <a href="{% url 'items:cart' %}">
                  <img style='width:25px;display: inline-block;margin-left: -30px;top: 10px;position: relative;' src="{% static 'items/cart.png' %}">
              </a>
              <p style="display: block;
              text-align: center;
              color:#fff;
              background-color: red;
              width: 20px;
              height: 25px;
              border-radius: 50%;
              font-size: 14px;">{{cart_items}}</p>
                {% if request.user.is_authenticated %}
              <div>
              <form action="#" method="post">
                  {% csrf_token %}
                  
                  <a class='ms-4 text-light fw-bold' style="    position: relative;
                  left: -5px;
                  bottom: -8px;" href="{% url 'items:logout' %}">LOGOUT</a>
                  
              </form>
              </div>
              {% else %}
              <div style="margin: auto;">
              <a class='ms-4 text-light fw-bold' href="{% url 'items:register' %}">REGISTER</a>
              <a class='ms-4 text-light fw-bold' href="{% url 'items:login' %}">LOGIN</a>
              
              </div>
              {% endif %}
            </form>
            </div>
          </div>
        </nav>
    </div>
    

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
      <div class="container">
        
        {% block content %}
        {% endblock content %}
      </div>
      <div class="border-bottom border-700"></div>
      
      
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      {% block testimonials %}
      {% endblock testimonials %}
      <!-- <section> close ============================-->
      <!-- ============================================-->
        <!-- <section> begin ============================-->
<section class="py-0 pt-7" id="contact">

  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-4 col-xl-3 mb-3">
        <h4 class="lh-lg fw-bold text-light">FITNESS</h4>
      </div>
      <div class="col-6 col-sm-4 col-xl-3 mb-3">
        <h5 class="lh-lg fw-bold text-light">MENU</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Shipping Info</a></li>
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Refunds</a></li>
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">How to Order</a></li>
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">How to Track</a></li>
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Size Guides</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-xl-3 mb-3">
        <h5 class="mb-5"></h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Contact Us</a></li>
          <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">my account</a></li>
        </ul>
      </div>
      <div class="col-12 col-xl-3">
        <h5 class="lh-lg fw-bold text-light text-uppercase">Signup For our Latest News</h5>
        <div class="row input-group-icon mb-5">
          <div class="col-12">
            <form class="row row-cols-lg-auto g-0 align-items-center">
              <div class="col-8 col-lg-9">
                <label class="visually-hidden" for="colFormLabel">Username</label>
                <div class="input-group">
                  <input class="rounded-end-0 form-control" id="colFormLabel" type="email" placeholder="email address" />
                </div>
              </div>
              <div class="col-4 col-lg-3">
                <button class="btn btn-primary rounded-start-0" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="border-bottom border-700"></div>
    <div class="row flex-center my-3">
      <div class="col-md-6 order-1 order-md-0">
        <p class="my-2 text-800 text-center text-md-start"> Made By&nbsp;
          <a class="text-500" href="https://www.instagram.com/qasim.tariq.526/" target="_blank">QasimDev </a>
        </p>
      </div>
      <div class="col-md-6">
        <div class="text-center text-md-end"><a href="#!"><span class="me-4" data-feather="facebook"></span></a><a href="#!"> <span class="me-4" data-feather="instagram"></span></a><a href="#!"> <span class="me-4" data-feather="youtube"></span></a><a href="#!"> <span class="me-4" data-feather="twitter"></span></a></div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

  </body>

</html>